body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-header {
    background-color: #343a40;
    color: #fff;
}
.modal-footer {
    background-color: #343a40;
    color: #fff;
}
.text-dark {
    color: #212529;
}
.ms-3 {
    margin-left: 1rem;
}
.mb-2 {
    margin-bottom: 1rem;
}
.nuevo_producto {
    color: #000;
}
body {
    background-color: rgb(124, 126, 146);
}