@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.back {
    padding: 63px 0px;
    background-color: #01010c;
    width: 100%;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

#menu {
    display: none;
}

.menu label {
    display: none;
}

.logo img {
    height: 120px;
}

.btn-rayas {
    background-color: transparent;
    color: #1122bd;
    border-radius: 5px;
    border: 1px solid #0b0d75;
    padding: 4px 12px;
    &:hover {
        background-color: transparent;
        color: #1122bd;
    }
    &:active {
        background-color: transparent;
        color: #1122bd;
    }
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    gap: 50px;
    font-size: 1.3rem;
    color: rgba(22, 22, 226, 0.637);
    a:link {
        color: rgba(22, 22, 226, 0.637);
        text-decoration: none;
    }
    .ingresar {
        display: flex;
        flex-direction: row;
        align-items: center;
        &:hover {
            border-bottom: 1px solid rgba(255, 255, 255, 0.39);
        }
    }
    .carrito {
        display: flex;
        flex-direction: row;
        align-items: center;
        &:hover {
            border-bottom: 1px solid rgba(255, 255, 255, 0.39);
        }
    }
}

@media (max-width: 790px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .back {
        padding: 90px 0px;
    }

    .menu .navbar {
        position: fixed;
        top: 180px;
        left: 0%;
        background-color: #01010c;
        display: none;
        width: 100%;
        transition: all 0.3s ease;
        border-top: #232327 1px solid;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: block;
        width: 100vh;
    }

    .botones {
        margin-left: 12px;
    }
}

.nav-chico {
    display: flex;
    justify-content: start;
    background-color: #02096d;
    color: white;
    padding: 10px;
    position: relative;
    z-index: 3;

    .ul-1 {
        margin-left: 20px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    li {
        display: inline-block;
        position: relative;
    }

    .ul-2 a {
        text-decoration: none;
        color: white;
        padding: 10px;
        display: block;
    }

    /* Submenús */
    ul ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #02096d;
        width: 200px;
        border: 1px rgba(255, 255, 255, 0.74) solid;
        border-radius: 5px;
        li:hover {
            background-color: #000cb4;
        }
    }

    ul ul ul {
        top: 15%;
        left: 101%;
    }

    li:hover > ul,
    li.open > ul {
        display: flex;
        flex-direction: column;
    }

    li.open > ul > li {
        display: flex;
        position: relative;
    }
}

@media (max-width: 358px) {
    .categoria {
        margin-left: 0px;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
    }
}

/*carrusel*/
.carrusel {
    img {
        height: 50vh;
    }
    button span {
        background-color: rgba(128, 128, 128, 0.699);
    }
    background-color: black;
    padding-bottom: 35px;
}
